//Brand colors

$brandBg: #F5F5F5;
$brandBgAlt: #595959;
$brandGreen: #1aafb8;
$brandLightGreen: #27c24c;
$brandGray: #58595b;
$brandBlack: #231f20;
$brandOrange: #FF8508;

$white: #ffffff;
$brandTextAlt: #8B8B8B;
$brandGrayLine: #6E6E6E;







